<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Civilizations - Batalles</title>
        <link rel="stylesheet" href="estils.css">
    </head>
    <body>

        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="img/Logo_Civilizations.png" alt="logo">
                    <h1>Civilizations</h1>
                </div>

                <ul class="menu">
                    <li><a href="principal.hbs">Principal</a></li>
                    <li><a href="batalles.hbs">Batalles</a></li>
                    <li><a href="informes.hbs">Informes</a></li>
                    <li><a href="civilitzacio.hbs">Civilització</a></li>
                    <li><a href="programadors.hbs">Programadors</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h2>Total de Batalles Jugades</h2>

            
            <div class="stat-box">
                <h3>125</h3>
                <p>Batalles totals</p>
            </div>
        </section>


        <section>
            <h2>Llista de Batalles</h2>


            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Enemic</th>
                        <th>Resultat</th>
                        <th>Informe</th>
                    </tr>


                    <tr>
                        <td>25</td>
                        <td>Orcs</td>
                        <td>Victòria</td>
                        <td><a href="">Veure Informe</a></td>
                    </tr>


                    <tr>
                        <td>24</td>
                        <td>Cavallers</td>
                        <td>Derrota</td>
                        <td><a href="">Veure Informe</a></td>
                    </tr>
                </table>
            </div>
        </section>


        <footer>
            <p>Copyright &copy; 2026 Civilizations - Tots els drets reservats.</p>
        </footer>
    </body>
</html>