<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Civilizations - Informes de Batalla</title>
        <link rel="stylesheet" href="estils.css">
    </head>
    <body>

        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="img/Logo_Civilizations.png" alt="logo">
                    <h1>Civilizations</h1>
                </div>

                <ul class="menu">
                    <li><a href="principal.hbs">Principal</a></li>
                    <li><a href="batalles.hbs">Batalles</a></li>
                    <li><a href="informes.hbs">Informes</a></li>
                    <li><a href="civilitzacio.hbs">Civilització</a></li>
                    <li><a href="programadors.hbs">Programadors</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h2>Battle Report #25</h2>


            <div class="stats">


                <div class="stat-box">
                    <img src="img/menjar.png">
                    <h3>Menjar</h3>
                    <p>52000</p>
                </div>


                <div class="stat-box">
                    <img src="img/fusta.png">
                    <h3>Fusta</h3>
                    <p>8100</p>
                </div>


                <div class="stat-box">
                    <img src="img/ferro.png">
                    <h3>Ferro</h3>
                    <p>29000</p>
                </div>


                <div class="stat-box">
                    <img src="img/mana.png">
                    <h3>Manà</h3>
                    <p>1200</p>
                </div>

            </div>
        </section>

        <footer>
            <p>Copyright &copy; 2026 Civilizations - Tots els drets reservats.</p>
        </footer>
    </body>
</html>