<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Civilizations - Programadors</title>
        <link rel="stylesheet" href="estils.css">
    </head>
    <body>

        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="img/Logo_Civilizations.png" alt="logo">
                    <h1>Civilizations</h1>
                </div>


                <ul class="menu">
                    <li><a href="principal.html">Principal</a></li>
                    <li><a href="batalles.html">Batalles</a></li>
                    <li><a href="informes.html">Informes</a></li>
                    <li><a href="civilitzacio.html">Civilització</a></li>
                    <li><a href="programadors.html">Programadors</a></li>
                </ul>
            </nav>
        </header>
               
        <section>

            <h2>Equip de Desenvolupament</h2>

            <div class="cards">

                <div class="card">
                    <h3>Fernando Jafet</h3>
                    <p><strong>Tasca principal:</strong> Java</p>
                </div>


                <div class="card">
                    <h3>Pablo Romero</h3>
                    <p><strong>Tasca principal:</strong> MySQL i Java</p>
                </div>


                <div class="card">
                    <h3>Derek Ríos</h3>
                    <p><strong>Tasca principal:</strong> Disseny web</p>
                </div>


            </div>

        </section>

        <footer>
            <p>Copyright &copy; 2026 Civilizations - Tots els drets reservats.</p>
        </footer>
    </body>
</html>