<section>

    <h2>Equip de Desenvolupament - Grup Civil_11</h2>
    <br>
    <div class="cards">
        <div class="card">
            <div class="dev-icon">👨‍💻</div>
            <h3>Fernando Jafet - Java</h3>
            <p>Principal responsable de la programació en JAVA i de la mecànica interna del joc</p>
        </div>

        <div class="card">
            <div class="dev-icon">🗄️</div>
            <h3>Pablo Romero - MySQL i Java</h3>
            <p>Principal responsable de la Base de Dades, una part de la mécanica i la interfície del joc. A més de la connexió de la web i del joc a la base de dades i pujar la web al servidor Proxmox</p>
        </div>

        <div class="card">
            <div class="dev-icon">🎨</div>
            <h3>Derek Ríos - Disseny web i Presentació</h3>
            <p>Principal creador i dissenyador de la pàgina web i de la presentació + apartat en anglès</p>
        </div>

    </div>

</section>